<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        a {
            padding-top: 10px;
            display: block;
        }
    </style>
</head>
<body>
    <div style="margin: 0 auto; height: 48px;background-color: gray;color: white;">管理后台</div>
    <div>
        <div style="background-color: #576169;width: 150px;height: 900px;">
            <a href="/cmdb/user_info" methods="post">用户管理</a>
            <a href="/cmdb/usergroup_info" methods="post">用户组管理</a>
        </div>
        <div></div>
    </div>
</body>
</html>