<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .item {
            padding-top: 10px;
            display: block;
        }
    </style>
</head>
<body>
    <div style="margin: 0 auto; height: 48px;background-color: gray;color: white;">管理后台</div>
    <div>
        <div style="float: left;background-color: #576169;width: 150px;height: 900px;">
            <a class="item" href="/cmdb/user_info">用户管理</a>
            <a class="item" href="/cmdb/usergroup_info">用户组管理</a>
        </div>
        <div style="float: left;">
            <form href="/cmdb/usergroup_info" method="post">
                <input type="text" name="caption"/>
                <input type="submit" value="添加"/>
            </form>
            <ul>
                {% for row in usergroup_list %}
                    <li>
                        <a href="usergroup_detail-{{ row.uid }}.html">{{ row.caption }}</a>|
                        <a href="usergroup_del-{{ row.uid }}.html">删除</a>|
                        <a href="usergroup_edit-{{ row.uid }}.html">编辑</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</body>
</html>