<<<<<<< HEAD

.c1{
    background-color: red;
    color:white;
}
.c2{
    font-size:28px;
    color: black;
}
=======

.c1{
    background-color: red;
    color:white;
}
.c2{
    font-size:28px;
    color: black;
}
>>>>>>> b83fbe129461e9bf74524352aa024a9e9ce9b233
